<a href="https://colab.research.google.com/github/EnricoArdian/Kecerdasan-Buatan/blob/main/FUZZY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Install Fuzzywuzzy**

In [ ]:
pip install fuzzywuzzy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

**Import Fuzz**

In [ ]:
from fuzzywuzzy import fuzz

/usr/local/lib/python3.9/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

**Ratio**

In [ ]:
string1 = 'Kecerdasan Buatan'
string2 = 'Kecerdasan buatan'

rasio = fuzz.ratio(string1,string2)
print(rasio, '%')

94 %

**Partial Ratio**

In [ ]:
string1 = 'Kecerdasan Buatan'
string2 = 'kecerdasan'

parsial_rasio = fuzz.partial_ratio(string1,string2)
print(parsial_rasio, '%')

90 %

**Token Sort Ratio**

In [ ]:
kata1 = 'nama saya arios'
kata2 = 'Arios nama saya'

token_sort_rasio = fuzz.token_sort_ratio(kata1,kata2)
print(token_sort_rasio, '%')

100 %

**Token Set Ratio**

In [ ]:
kata1 = 'nama saya arios'
kata2 = 'Arios saya Nama'

token_set_rasio = fuzz.token_set_ratio(kata1, kata2)
print(token_set_rasio, '%')

93 %

In [ ]:
kata1 = 'Nama saya arios'
kata2 = 'Arios adalah halo mimo palo nama saya'

print(fuzz.token_set_ratio(kata1, kata2), '%')
token_sort_rasio = fuzz.token_sort_ratio(kata1, kata2)
print(token_sort_rasio, '%')

100 %
58 %

**Model Process**

In [ ]:
from fuzzywuzzy import process

In [ ]:
query = 'Nama saya adalah Arios'
pilihan = ['Nama saya Arios', 'Nama saya adalah Arios', 'Saya Arios']

process.extract(query, pilihan)

[('Nama saya adalah Arios', 100), ('Nama saya Arios', 95), ('Saya Arios', 86)]

**Menggunakan Dataset**

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('room_type.csv')
df.head(10)

,Expedia,Booking.com
0,"Deluxe Room, 1 King Bed",Deluxe King Room
1,"Standard Room, 1 King Bed, Accessible",Standard King Roll-in Shower Accessible
2,"Grand Corner King Room, 1 King Bed",Grand Corner King Room
3,"Suite, 1 King Bed (Parlor)",King Parlor Suite
4,"High-Floor Premium Room, 1 King Bed",High-Floor Premium King Room
5,"Traditional Double Room, 2 Double Beds",Double Room with Two Double Beds
6,"Room, 1 King Bed, Accessible",King Room - Disability Access
7,"Deluxe Room, 1 King Bed",Deluxe King Room
8,Deluxe Room,Deluxe Room (Non Refundable)
9,"Room, 2 Double Beds (19th to 25th Floors)",Two Double Beds - Location Room (19th to 25th ...

In [ ]:
#Ratio
print(fuzz.ratio('High-Floor Premium Room, 1 King Bed', 'High-Floor Premium King Room'), '%')

76 %

In [ ]:
#Partial Ratio
print(fuzz.partial_ratio('High-Floor Premium Room, 1 King Bed', 'High-Floor Premium King Room'), '%')

82 %

In [ ]:
#Token Sort Ratio
print(fuzz.token_sort_ratio('High-Floor Premium Room, 1 King Bed', 'High-Floor Premium King Room'), '%')

90 %

In [ ]:
#Token Set Ratio
print(fuzz.token_set_ratio('High-Floor Premium Room, 1 King Bed', 'High-Floor Premium King Room'), '%')

100 %

In [ ]:
def get_ratio(row):
  name1 = row ['Expedia']
  name2 = row ['Booking.com']

  return fuzz.token_set_ratio(name1, name2)

x = len(df[df.apply(get_ratio, axis=1) > 70])/len(df)
print(x)

0.9029126213592233